<?xml version=\"1.0\" encoding=\"UTF-8\"?>
<!DOCTYPE plist PUBLIC \"-//Apple//DTD PLIST 1.0//EN\" \"http://www.apple.com/DTDs/PropertyList-1.0.dtd\">
<plist version=\"1.0\">
<dict>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleIdentifier</key>
    <string>org.frescobaldi.frescobaldi</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleExecutable</key>
    <string>Frescobaldi</string>
    <key>CFBundleDisplayName</key>
    <string>Frescobaldi</string>
    <key>CFBundleVersion</key>
    <string>%VERSION%</string>
    <key>CFBundleName</key>
    <string>Frescobaldi</string>
    <key>CFBundleIconFile</key>
    <string>frescobaldi.icns</string>
    <key>NSHumanReadableCopyright</key>
    <string>Copyright © 2008-2012 Wilbert Berendsen.</string>
</dict>
</plist>
